*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-header{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background:#1d5a43;
    color: white;
    border-bottom: 2px solid white;
    box-shadow: 0px 0px 5px white;
}

.header-link{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.header-btn{
    width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rgt-btn,
.lgn-btn{
    width: 100px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 8px white;
    transition: transform 0.3s ease;
}

.rgt-btn{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 8px;
}

.lgn-btn{
    border: none;
    background-color: white;
    padding: 10px;
    color:#1d5a43;
}


.lgn-btn:hover,
.rgt-btn:hover{
    box-shadow: 0px 8px 14px white;
    transform: translateY(-3px);
}

.icon-account{
    font-size: 1.5rem;
    color: white;
}